{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "whattheversion",
    "description": "Retrieve the latest version for git tepo (git tag), a docker image (docker tag) or a helm chart (manifest version)"
  },
  "servers": [
    {
      "url": "https://whattheversion.hutter.cloud/api",
      "description": "Public Api Endpoint"
    },
    {
      "url": "http://127.0.0.1:3000/",
      "description": "Development Server"
    }
  ],
  "paths": {
    "/git": {
      "post": {
        "summary": "Retrieve the latest tag of the given git repository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Versions found and returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/docker": {
      "post": {
        "summary": "Retrieve the latest docker image tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DockerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Versions found and returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DockerResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/helm": {
      "post": {
        "summary": "Retrieve the latest version of the given helm chart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HelmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Versions found and returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "default": {
        "description": "Unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "GitRepository": {
        "description": "https url to the git repository",
        "type": "string",
        "default": "https://github.com/huttercloud/whattheversion"
      },
      "HelmRegistry": {
        "description": "https url to the helm registry",
        "type": "string",
        "default": "https://charts.external-secrets.io"
      },
      "RegExp": {
        "description": "A python regexp string to filter version tags",
        "type": "string",
        "default": "^[0-9]+\\.?[0-9]+\\.?[0-9]+$"
      },
      "Version": {
        "description": "Version Identifier",
        "type": "string"
      },
      "Timestamp": {
        "description": "The date and time the version was created (UTC)",
        "type": "string",
        "format": "date-time"
      },
      "Chart": {
        "description": "Name of the helm chart",
        "type": "string",
        "default": "external-secrets"
      },
      "DockerImage": {
        "description": "The name of the docker image",
        "type": "string",
        "default": "pihole/pihole"
      },
      "DockerRegistry": {
        "description": "The docker registry",
        "type": "string",
        "default": "registry.hub.docker.com"
      },
      "GitRequest": {
        "type": "object",
        "required": [
          "repository"
        ],
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/GitRepository"
          },
          "regexp": {
            "$ref": "#/components/schemas/RegExp"
          }
        }
      },
      "GitResponse": {
        "type": "object",
        "required": [
          "repository",
          "version",
          "timestamp"
        ],
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/GitRepository"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          }
        }
      },
      "HelmRequest": {
        "type": "object",
        "required": [
          "registry",
          "chart"
        ],
        "properties": {
          "registry": {
            "$ref": "#/components/schemas/HelmRegistry"
          },
          "regexp": {
            "$ref": "#/components/schemas/RegExp"
          },
          "chart": {
            "$ref": "#/components/schemas/Chart"
          }
        }
      },
      "HelmResponse": {
        "type": "object",
        "required": [
          "registry",
          "version",
          "timestamp",
          "chart"
        ],
        "properties": {
          "registry": {
            "$ref": "#/components/schemas/HelmRegistry"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "appVersion": {
            "$ref": "#/components/schemas/Version"
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "chart": {
            "$ref": "#/components/schemas/Chart"
          }
        }
      },
      "DockerRequest": {
        "type": "object",
        "required": [
          "registry",
          "image"
        ],
        "properties": {
          "registry": {
            "$ref": "#/components/schemas/DockerRegistry"
          },
          "regexp": {
            "$ref": "#/components/schemas/RegExp"
          },
          "image": {
            "$ref": "#/components/schemas/DockerImage"
          }
        }
      },
      "DockerResponse": {
        "type": "object",
        "required": [
          "registry",
          "image",
          "version",
          "timestamp"
        ],
        "properties": {
          "registry": {
            "$ref": "#/components/schemas/DockerRegistry"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "image": {
            "$ref": "#/components/schemas/DockerImage"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "errorMessage",
          "errorType",
          "requestId"
        ],
        "properties": {
          "errorMessage": {
            "description": "A human readable error message",
            "type": "string"
          },
          "errorType": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "stackTrace": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}